nav ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
/*   border: 1px solid; */
  font-family: sans-serif;
  color: #3c3c3c;
}
.logo{
    color: white;
    font: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #333;
  positon: relative;
}
nav .logo {
  font-size: 36px;
  font-weight: 800;
  margin: auto 0;
  
}
nav ul {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  font-size: 18px;
  letter-spacing: 1px;  
  padding: 5px 8px;
  border-radius: 5px;
  text-transform: capitalize;
  color: #000;
    text-decoration: none;
}
nav ul li:hover a{
  background: blue;
  color: #fff;
}

nav .search_box {
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;

}
nav .search_box input {
  width: 350px;
  padding: 0 8px;
  border: none;
  outline: none;
  font-size: 16px;
}
nav .search_box span{
  font-size: 20px;
  color:  #222;
  background: #fff;
  line-height: 35px;
  padding: 0 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
nav .search_box span:hover{
  color: #fff;
}
nav .search_box span::after{
  height: 100%;
  width: 0%;
  content: "";
  background: blue;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;
  
}
nav .search_box span:hover::after {
  width: 100%;
}



nav .checkbtn {
  position: relative;
  margin: auto;
  display: none;
      border-radius: 6px;
}

nav .checkbtn span {
  position: absolute;
  font-size: 25px;
}
#check{
  display: none;
}
@media screen and (max-width: 1200px){
  nav{
    display: block;
    text-align: center;
    padding: 0;
  }
  nav .logo {
    display: inline-block;    
  }
  
  nav .search_box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin: 10px 0;
  }
  nav .search_box input {
    width: 90%;
  }
  nav ul{
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 0;
    visibility: hidden;
  }
  nav ul li{
    opacity: 1;
      color: #fff;
  }
  nav ul li a{
    color: #fff;
    font-size: 28px;
    padding: 25px;
    display: block;
  }
  
  
  nav .checkbtn {
    display: block;
    position: absolute;
    top: 20px;
    right: 80px;
    cursor: pointer;
  }
  nav .checkbtn #times{
    display: none;
  }
  #check:checked~ nav .checkbtn #bars{
    display: none;
  }
  #check:checked~ nav .checkbtn #times{
    display: block;
  }
  #check:checked~ nav ul{
    visibility: visible;
    height: 465px;
  }
}
